{% load static %}

<!doctype html>
<html lang="en">
  <head>
    
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">

 
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-1BmE4kWBq78iYhFldvKuhfTAU6auU8tT94WrHftjDbrCEXSU1oBoqyl2QvZ6jIW3" crossorigin="anonymous">

    <title>Register</title>
  </head>
  <body style="background-color: #a29bfe">
    <div class="container">
      <h1><img src="https://i.postimg.cc/HL1VpRq4/logo-main-removebg-preview.png" class="img-fluid" alt=""></h1>


<nav class="navbar navbar-expand-lg navbar-#2e86de bg-#2e86de">
  <a class="navbar-brand" style="color:black" href="{{link}}">Home</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarText" aria-controls="navbarText" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse" id="navbarText">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item active">
        <a class="nav-link" style="color: black;" href="/all_emp">View Employee Database <span class="sr-only"></span></a>
      </li>
      <li class="nav-item">
        <a style="color: black;" class="nav-link" href="/add_emp">Add Employee</a>
      </li>
      <li class="nav-item">
        <a style="color: black;" class="nav-link" href="/remove_emp">Remove Employee</a>
      </li>
       </li>
      <li class="nav-item">
        <a style="color: black;" class="nav-link" href="/filter_emp">Filter Employee</a>
      </li>
      <a style="color: black;" class="nav-link" href="/contact_us">Contact Us <span class="sr-only"></span></a>
      </li>
      <li class="nav-item">
        <a style="color: black;" class="nav-link" href="/location">About</a>
      </li>
      <div class="dropdown">
        <button style="color: bla;" class="btn btn-success dropdown-toggle" type="button" id="dropdownMenuButton1" data-bs-toggle="dropdown" aria-expanded="false">
          Admin Option
        </button>
        <ul class="dropdown-menu" aria-labelledby="dropdownMenuButton1">
          <li><a class="dropdown-item" href="/signin">Signing In</a></li>
          <li><a class="dropdown-item" href="/register">Signing up</a></li>
          <li><a class="dropdown-item" href="">Log out</a></li>
        </ul>
      </div>

    </ul>
    
  </div>
</nav>


        <hr>  
        <div class="container"></div>  
        <div class="row g-3">
            <div class="col">
              <input type="text" class="form-control" placeholder="First name" aria-label="First name">
            </div>
            <div class="col">
              <input type="text" class="form-control" placeholder="Last name" aria-label="Last name">
            </div>
          </div>
          <hr>
          <form class="row g-3">
            <div class="col-md-6">
              <label for="inputEmail4" class="form-label">Email</label>
              <input type="email" class="form-control" id="inputEmail4">
            </div>
            <div class="col-md-6">
              <label for="inputPassword4" class="form-label">Password</label>
              <input type="password" class="form-control" id="inputPassword4">
            </div>
            <div class="col-12">
              <label for="inputAddress" class="form-label">Address</label>
              <input type="text" class="form-control" id="inputAddress" placeholder="1234 Main St">
            </div>
            <div class="col-12">
              <label for="inputAddress2" class="form-label">Address 2</label>
              <input type="text" class="form-control" id="inputAddress2" placeholder="Apartment, studio, or floor">
            </div>
            <div class="col-md-6">
              <label for="inputCity" class="form-label">City</label>
              <input type="text" class="form-control" id="inputCity">
            </div>
            <div class="col-md-4">
              <label for="inputState" class="form-label">State</label>
              <select id="inputState" class="form-select">
                <option selected>Choose...</option>
                <option>...</option>
              </select>
            </div>
            <div class="col-md-2">
              <label for="inputZip" class="form-label">Zip</label>
              <input type="text" class="form-control" id="inputZip">
            </div>
            <div class="col-12">
              <div class="form-check">
                <input class="form-check-input" type="checkbox" id="gridCheck">
                <label class="form-check-label" for="gridCheck">
                  Remember Me
                </label>
              </div>
            </div>
            <div class="col-12">
              <button type="submit" class="btn btn-success">Sign in</button>
            </div>
          </form>
      <img src="https://i.postimg.cc/qR5XxCT7/868844.jpg" class="img-fluid" alt="">
    </div>
    

    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-ka7Sk0Gln4gmtz2MlQnikT1wXgYsOg+OMhuP+IlRH9sENBO0LRn5q+8nbTov4+1p" crossorigin="anonymous"></script>
    <br> <br>
    <footer style="text-align: center; width: 100%;">
      <p>Developed: Hafiz Al Fahim  Email: hafiz15-3781@diu.edu.bd</p>
    </footer>

    
  </body>
</html>